* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.lista {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.social {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition: all 500ms ease;
}

.social ul li .icon-facebook2 {
    background: #3b5998;
}

.social ul li .icon-twitter {
    background: #00abf0;
}
.social ul li .icon-mail4 {
    background: #666666;
}

.social ul li a:hover {
    padding: 10px 30px;
    background: #000;
}

.panel-primary .panel-heading {
    background: #0B0B61;
}

.navbar {
    margin-bottom: 0;
}
.jumbotron {
    background: #3B0B39;
    color: #fff;
    padding: 20px 0;
}
header {
	color:#fff;
}

h2,h4,h3 {
    text-align: center;
}

.center-table{
    text-align: center;
}

.main {
	margin-top: 20px;
    margin-bottom: 20px;
}

.post {
    padding-bottom: 20px;
    margin-bottom: 20px;
/*    border-bottom: 1px solid #999;*/
}

.post .post-title a{
    color: #333;
}

.post .thumb {
    margin-right: 10px;
    width: 40%;
}

.post .thumb img{
    width: 100%;
    height:200px;
    padding-top: 5px;
}

.post-contenido {
    font-size: 16px;
}

.img-cen{
    display:block;
    margin:auto;
    width: 50%;
    height:200px;
    padding-top: 5px;
}

iframe, h5 {
    display:block;
    margin:auto;
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
}

.post .contenedor-botones {
    margin-right: 10px;
    width: 40%;
}

.color1 {
	background: #34495e;
	color:#fff;
}

aside {
}

footer {
	background: #4C0B5F;
	color:#fff;
}

@media screen and (max-width: 768px) {
    .post .thumb {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
}

.boxlogin{
    align-content: center;
    border-radius: 20px;
    box-shadow: 0px 2px 10px #d6d6d6;
    margin: 50px auto;
    background-color: #fff;
    width: 100%;
    -webki-border-radius: 4px;
    -moz-border-radius: 4px;
}

.login{
    align-content: center;
    border-radius: 20px;
    box-shadow: 0px 2px 10px #d6d6d6;
    margin: 50px auto;
    background-color: #fff;
    width: 400px;
    -webki-border-radius: 4px;
    -moz-border-radius: 4px;
}

div.centraTabla{
text-align: center;
}

div.centraTabla table {
margin: 0 auto;
text-align: left;
    font-size: 20px;
}

label{
    font-style: normal;
    font-size: 18px;
    color: #373a3c;
}

form
{
   padding:2px;
   cursor:pointer;
   display:block;
   width: 50%;
   min-width: auto;
   max-width: auto;
   margin: 0 auto;
   text-align:left;
}  

.insertar{
    padding:20px;
   cursor:pointer;
   display:block;
   width: 50%;
   min-width: auto;
   max-width: auto;
   margin: 0 auto;
   text-align:center;
}

option{
    display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: normal;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
}


select{
  margin:2px; 
  position: static;
  z-index: 1000;
  display:  block;
  top: 100%;
  width: 100%;
  left: 0;
  float: left;
  min-width: 8rem;
  max-width: 25rem;
  padding: 0.5rem 0;
/*  margin: 0.125rem 0 0;*/
  font-size: 24px;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
