$def with (post)

<div class="row container">
    
    <section class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
        <section class="main container">
        <div class="row">
            <section class="posts col-md-12">
                <div class="migas">
                    <ol class="breadcrumb">
                        <li><a href="/">Programacion de Aplicaciones</a></li>
                        <li><a href="/viewdata">Base de Datos</a></li>
                        <li class="active">Actualizar</li>
                    </ol>
                </div>
            </section>
        </div>
        
        <section class="jumbotron">
            <div class="container">
                <h2>Editar Registro</h2>
            </div>   
        </section>
        
        <div class="container">
            <form method="post" action="">
                
                <a class="btn btn-success btn-block" href="/viewdata">Cancelar</a>
                <br>
                
                <div class="form-group">
                    <label for="title">Titulo:</label>
                    <input class="form-control" type="text" value="$post.titulo" id="title" name="title" placeholder="Titulo:">
                </div>

                <div class="form-group">
                    <label for="original">Titulo Original:</label>
                    <input class="form-control" type="text" value="$post.titulo_original" id="original" name="original" placeholder="Titulo Original:">
                </div>

                <div class="form-group">
                    <label for="genero">Genero:</label>
                    <input class="form-control" type="text" value="$post.genero" id="genero" name="genero" placeholder="Genero:">
                </div>

                <div class="form-group">
                    <label for="nac">Nacionalidad:</label>
                    <input class="form-control" type="text" value="$post.nacionalidad" id="nac" name="nac" placeholder="Nacionalidad:">
                </div>

                <div class="form-group">
                    <label for="year">Año:</label>
                    <input class="form-control" type="text" value="$post.anio" id="year" name="year" placeholder="Año:">
                </div>

                <div class="form-group">
                    <label for="dir">Director:</label>
                    <input class="form-control" type="text" value="$post.director" id="dir" name="dir" placeholder="Director:">
                </div>

                <div class="form-group">
                    <label for="guion">Guion:</label>
                    <input class="form-control" type="text" value="$post.guion" id="guion" name="guion" placeholder="Guion:">
                </div>

                <div class="form-group">
                    <label for="fecha">Fecha de Estreno:</label>
                    <input class="form-control" type="text" value="$post.fecha_estreno" id="fecha" name="fecha" placeholder="Fecha de Estreno:">
                </div>

                <input class="btn btn-success btn-block" type="submit" value="Agregar" />
            </form>
        </div>
    </section>
</div>
